.index {
  text-align: center;
  background-color: $primaryColor;

  .image {
    @include border-radius(10px);
    max-width: 400px;
    margin: 30px auto;
  }
}

header {
  background: url('../dist/images/atlas-voyages-home.jpg');
  background-position: center;
  background-size: 1980px;
  //filter: brightness(65%);
  height: 580px;
  position: relative;
  z-index: 0;
}

.header-content {
      filter: brightness(100%) !important;
      width: 100%;
      height: auto;
      padding: 250px;
      display: grid;
      grid-template-columns: 1fr;
      span.alert {
        padding: 14px;
        width: 100%;
        display: block;
        background-color: #fff1d1;
        border-radius: 5px;
        color: #9e781f;
        text-align: center;
        font-size: 15px;
        line-height: 0,9;
        span.close {
          float: right;
          font-weight: bolder;
          margin-right: 10px;
          font-size: 18px;
          line-height: initial !important;
          opacity: 75%;
        }
        a {
          color: rgb(179, 0, 0);
          font-weight: bolder;
        }
      }
      button {
        padding: 10px;
        border: 0px;
        border-radius: 5px;
      }
      div {
        height: 70px;
      }
}

nav {
  z-index: 1;
  display: grid;
  position: fixed !important;
  grid-template-columns: 1fr 6fr;
  text-align: right;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  font-size: 15px;
  font-weight: bold;
  background-color: inherit;
  .logo{
    padding: 0px !important;
  }
  .navigation {
    li {
      list-style: none;
      display: inline-block;
      padding: 8px;
      a {
        color: inherit;
        text-decoration: inherit;
      }
      
    }
  }
}
.normal {
    background-color: transparent;
    color: #fff;
}
.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    color: #656565 !important;
}


.en-tetes {
  text-align: center;
  h1{
      color: rgb(179, 0, 0);
      font-weight: bolder;
  }
  h2{
      color: gray;
      font-weight: lighter;
      font-size: 21px;
  }
}

div.grid {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-gap: 30px;
  justify-content: center;
  margin: 50px;
  div {
      text-align: center;
      grid-column: 1fr;
      p {
        margin: auto;
        color: #fff;
        font-weight: bolder;
        position: absolute;
        display: block;
        height: auto;
        text-align: center;
        width: 340px;
        padding: 249px 15px 47px 15px;
        border-radius: 5px;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 75%);
        .img-title{
          font-size: 22px;
          display: block;
        }
        .art-title{
          font-size: 20px;
          text-align: center;
          display: block;
        }
    }
      }
      img {
        width: 340px;
        height: 380px;
        object-fit: fill;
        border-radius: 5px;
        float: inline-start;
      }
      div.box-pt {
        img{
        width: 340px;
          height: 170px;
          object-fit: fill;
          border-radius: 5px;
        }
        p {
          padding-top: 60px !important;
          padding-bottom: 58px !important;
        }
    }
    div.box-pt2 {
      img{
      width: 340px;
        height: 170px;
        object-fit: fill;
        border-radius: 5px;
      }
      p {
        padding-top: 60px !important;
        padding-bottom: 55px !important;
      }
  }
      div.box-md {
        img{
        width: 340px;
          height: 220px;
          object-fit: fill;
          border-radius: 5px;
      }
      p {
        padding-top: 118px !important;
      }
    }
        div.box-lg {
          img{
          width: 340px;
            height: 600px !important;
            object-fit: fill;
            border-radius: 5px;
        }
        p {
          padding-top: 470px !important;
        }
      }
      .en-tetes {
        grid-column: 1 / 4;
      }
  }